<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054434178168-lfcbm42lr6d39g45smp52lu24b1qgrm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054434178168-lfcbm42lr6d39g45smp52lu24b1qgrm8</string>
	<key>API_KEY</key>
	<string>AIzaSyCJpqQl1i8rSgj5KQbQJ-PyZMXnw4QGmVI</string>
	<key>GCM_SENDER_ID</key>
	<string>1054434178168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrieldcc.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-949d1</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-949d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054434178168:ios:979d761703b3fb7134a98d</string>
</dict>
</plist>